{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended" // no need for code formating rules in eslint => might conflict with Prettier 
    ],
    "rules": { 
        /*
            "off" means 0 (turns the rule off completely)
            "warn" means 1 (turns the rule on but won't make the linter fail)
            "error" means 2 (turns the rule on and will make the linter fail)
        */
        "prettier/prettier": 2, // prettier formatting error is considered as an ESLint error 
        "no-console": 2
      }
  }